@using TravelTripProje.Models.Sınıflar
@model List<Blog>

<div class="con-bot">
    @foreach (var w in Model)
    {
        <div class="left">
            <div class="bot-left">
                <img src="@w.BlogImage" style="width:300px; height:150px;"  alt="" />
            </div>
            <div class="left-text">
                <h4>@w.Baslik</h4>
                <span class="doller">@w.Tarih.ToString("dd.mm.yyyy")</span>
                <p>@w.Aciklama.Substring(0,100) </p>
                <p><a href="/Blog/BlogDetay/@w.ID"><span class="read">Devamını Oku >></span></a></p>
            </div>
        </div>
    }
    @Html.Action("Partial2", "Default")
    <div class="clear"></div>
</div>

